* {
    box-sizing: border-box; /*allgemein damit die paddings nicht sich selber aufblassen.*/
}
html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black
}
.logo{
    width: 90px;
    margin: 20px 20px;
}
header {
    background-color: rgb(0, 161, 255);
}
.menuleiste {
    display: flex;
    justify-content: space-between; /*Verteilt die Items gleichmässig auf der Horizontalen Achse */
    align-items: center;

}
.links {
    display: flex;
    /*abstand zwischen den Links*/
}
.links ul{
    display: flex;
}
.links li{
    list-style: none;
}
.menuleiste a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding-right: 60px;
}
.menuleiste a:visited {
    color: white;
    text-decoration: none;
}
.title {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-transform: uppercase; 
    padding: 10px;
}
main {
    background-color: black;
}
h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 30px;
}
.suchleiste {
    background-color: white;
    width: 60%;
    height: 60px;
    justify-self: center;
    margin-bottom: 2.5%;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.icon-lupe{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.suchinhalt{
    flex: 1; /* nimmt den gesamten restlichen Platz ein */
    border: none;
    outline: none;
    font-size: 20px;
}
.table-results {
    background-color: white;
    width: 60%;
    margin-bottom: 2.5%;
    border-radius: 15px;
    padding: 10px;
    justify-self: center;
}
th {
    font-size: 25px;
    margin-bottom: 10px;
}
.suchlinks {
    text-decoration: none;
    color: black;
}
.suchlinks:visited {
    color: black;
    text-decoration: none;
}
.suchlinks:hover {
    color: rgb(168, 165, 165);
}
td {
    font-size: 20px;
}
.programmpunkt {
    background-color: white;
    border-radius: 2%;
    padding: 25px;
    margin: 0;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 3px 10px auto 10px auto;
    width: 100%;
    max-width: 100%;
}
.trennlinie{
    background-color: black;
    grid-column: 1 / span 2;
    width: 100%;
    height: 3px;
}
.titel-zeile {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / span 2;
    align-items: center;
    min-height: 60px;
}
.leerschlag {
    grid-column: 1/span 2;
    height: 10px;
}
.bild_1 {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    display: block;
}
.bild-center {
    grid-column: 1 / span 2;
    justify-self: center;
}
.programm-titel {
    font-size: 26px; 
    max-height: 60px;
    margin: 0;
}
.link-event {
    justify-self: end;
}
.bild-plus {
    height: 60px;
    width: 60px;
}
.datum {
    justify-self: end;
    grid-column: 1 / span 2;
    align-self: end;
    padding: 4px 15px;
    background-color: rgb(0, 161, 255);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: auto;
}
.programm-feed {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 5% 0px 5%;
    padding: 0;
    max-width: 100vw; /*verhindert zu lange text ChatGPT*/
    width: 90%;
    box-sizing: border-box;
}
.programmpunkt-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.programm-bild{
    padding: 25px;
    display: flex;
}
.programm-bild img{
    width: 550px;
    height: 450px;
    justify-self: center;
}
.karte {
    background-color: white;
    border-radius: 2%;
    padding: 25px;
    margin: 25px;
}
.beschreib{
    grid-row-start: 2;
    grid-column: 1 / span 2;

}
h3{
    text-align: center;
    font-size: 30px;
}
.beschreib p{
    text-align: justify;
    text-align-last: left;
    font-size: 20px;
}
.details {
    display: flex;
}
.details ul{
    list-style: none;
    font-size: 30px;
}
.colum-1 li{
    text-transform: uppercase; 
    font-weight: bold;
}
.details li{
    margin-bottom: 20px;
}
.details a{
    text-decoration: none;
    color: black;
} 
.details a:hover{
    color: rgb(59, 59, 59);
}
.karte p {
    text-align: justify;
    text-align-last: left;
    font-size: 20px;
}