<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Was lauft?</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
    <div class="menuleiste">
        <a href="index.html"><img class="logo" src="/static/imge/Lou Logo.png" alt="Logo"></a>
        <div class="links">
            <ul>
                <li><a href="#programm">Programm</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#clubs">Clubs</a></li>
            </ul>
        </div>
    </div>
    <div class="title">
        <h1>Was lauft?</h1>
    </div> 
    </header>
    <main>
    <h2 id="programm">Programm</h2>
    <div class="programm-feed"> {%for event in events %} <!--For-Schleife von Flask welche die einzelenen Events erstellt.-->
        <div class="programmpunkt">
            <img class="bild_1 bild-center" src="/static/imge/Lou Logo.png" alt="Logo">
            <h3 class="programm-titel">{{event.title}}1</h3>
            <a class="link-event"><img class="bild-plus" src="/static/imge/plus.png" alt="Weitere Info's"></a>
            <p class="datum">{{event.date}}</p>
        </div>
        {%endfor%}
    </div>
    <h2 id="about">About</h2>
    <h2 id="clubs">Clubs</h2>
    </main>
    <h1>Programm Schüür</h1>
    <ul>{%for event in events %}
        <h1>{{event.title}}</h1>
        <p>{{event.startdate}}-{{event.enddate}}</p>
    {%endfor%}
    </ul>
</body>
</html>
