{% extends "base.html" %}
{% block title %} Programmpunkt - {{event.title}} {% endblock %}

{% block content%}
<div class="programmpunkt-details">
    <div class="programm-bild"> 
        <img src="{{event.img}}" alt="Bild">
    </div>
    <div class="details karte">
        <div>
            <ul class="colum-1">
                <li>Datum:</li>
                <li>Start:</li>
                <li>Ort:</li>
                <li>Preis:</li>
                <li>Clubseite:</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>{{event.date}}</li>
                <li>{{event.Starttime}}</li>
                <li>{{event.club}}</li>
                <li>{{event.preis}}</li>
                <li><a href="{{event.link}}">{{event.club}}</a></li>
            </ul>
        </div>
    </div>
    <div class="beschreib karte">
        <h3>Event:</h3>
        <p>{{event.text}}</p>
    </div>
</div>
{% endblock %}